body {
    background-color:#EDEDED;
}

.navbar {
    max-height: 57px;
  }

.navigation .navbar-brand{
    color: white;
    margin-left: 30px;
    padding: inherit;
    font-weight: bold;
    background-color: #0BADA6;
    font-family: Georgia, 'Times New Roman', Times, serif
  }

.navbar {
    background-color: white;
    font-size:15px;
}  

.active, .dropdown-menu .dropdown-item:active a:hover{
    background-color: #E7E7E7;
}

.dropdown-item{
    color:#6D8092;
}

.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{
    background-color:#E7E7E7;
}

a{
    color:#6D8092;
    font-size: 15px;
}

.nav-link:hover{
    background-color:#E7E7E7;
    }

.nav-brand:hover{
    color: rgb(175,175,175);
}

.title{
    color: #0BADA6;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    padding-top: 25px;
}

p{
    color: #6D8092;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}


visualization{
    width: 50%;
    height: 50%;
}

.title{
    color: #0BADA6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    padding-top: 25px;
}

p{
    color: #6D8092;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.box1 {
    margin-top: 60px;
    margin-bottom: 62px;
    padding: 10px 20px 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    padding-bottom: 0px;
    color: black;
    background-color: white;
}

.box2{
    background-color: white;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    padding: 10px 20px 15px;
    margin-top: 60px;
}

.box{
    margin-top:60px;
    margin-bottom:62px;
    padding:10px 20px 15px;
    color: black;
    background-color: white;
}

h4{
    color: #0BADA6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    margin-left: 120px;
}
    

.navbar{
    max-height: none;
    padding: inherit;
}

.navbar-brand{
    padding: 10px;
}

button{
    margin-right: 30px;
}

button: focus{
    outline: 1px dotted;
    outline: 5px auto- webkit-focusring-color;
}

